<div class="modal fade" id="markAsReadModal" tabindex="-1" role="dialog" aria-labelledby="markAsReadModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="markAsReadModalLabel">Mark Book as Read</h4>
      </div>
      <div class="modal-body">
        <p>
          Days on which you finished reading this book:
        </p>
      </div>
      <div class="modal-footer">
        <p>
          This will move the book to the 'read' shelf, and set a read date as today. 
        </p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
